
<h2> <img src="../../Content/logo.png" align = left /> <img src="../../Content/logo.png" align=right />
<center>Welcome to ACE Pharmaceuticals! </center>
<hr width="75%" />
</h2>

<center><img src="../../Content/ace.jpg"  /> </center>

<br />
<h1>
<center>@Html.ActionLink("Shop Now!", "Order", "Drug") </center>
</h1>